#content {
  grid-area: content;
  display: grid;
  grid-template-areas: '. logo .' '. line .' '. summary .' '. slideshow .' '. legal .' '. . .';
  grid-template-rows: auto auto auto auto auto 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 15px 0px;
}

#slideshow {
  grid-area: slideshow;
  display: inline-block;
  height: 430px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid #58ad4d;
}

#cycleImagesLeft {
  grid-area: cycleImagesLeft;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  position: absolute;
  background: #3d8341;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 5px;
  margin: 0px;
  z-index: 1;
  opacity: 0.5;
}

#cycleImagesRight {
  grid-area: cycleImagesRight;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  position: absolute;
  background: #3d8341;
  color: white;
  cursor: pointer;
  padding: 15px 5px 15px 15px;
  margin: 0px;
  z-index: 1;
  opacity: 0.5;
}

#logo {
  display: block;
  grid-area: logo;
  justify-content: center;
  margin: 20px auto;
}

.logo-img {
  width: 258px;
}

#summary {
  grid-area: summary;
  border-top: 1px solid var(--separator);
  padding: 15px 0px 0px 0px;
}

.summarySlides {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 1s linear;
}

#legal {
  grid-area: legal;
  border-top: 1px solid var(--separator);
  padding: 15px 0px 0px 0px;
}

@media (min-width: 767px) {
  #cycleImagesLeft:hover {
    background: #58ad4d;
    opacity: 1.0;
  }

  #cycleImagesRight:hover {
    background: #58ad4d;
    opacity: 1.0;
  }
}

@media (max-width: 766px) {
  #content {
    grid-template-columns: 1fr 15fr 1fr;
  }
  
  #slideshow {
    height: 215px;
  }
}
